{% extends 'Certificates/Layout.html' %}

{% block title %}
Menu
{% endblock %}

{% block body %}

<div class = "col-12 Menu_Header">

      <h1>Hello {{name}},</h1>

      
</div>


{% for message in messages %}

<div class="alert alert-info">

      <h2> <img src="https://i.ibb.co/NrbpQnp/404-tick.png" alt="CorrectLogo" width = "35px"> {{message}} </h2>

</div>

{% endfor %}


<div class = "col-12">


                                                
      {% if noCertificates %}

      <div class = "col-12 No_Certificates_Header">

            <h1> There are no Certificates at this time :)</h1>

      </div>

            {% else %}


            <table class = "Certificate_Table">
                                          
                  <thead>
                        <th>Certificate Name</th>
                        <th>Company</th>
                        <th>Details</th>
                  </thead>


                  <tbody>
                  {% for cert in certi %}

                        <tr>
                              <td>{{ cert.cname }}</td>
                              <td>{{ cert.ccompany }}</td>
                              <td><a href = "{% url 'Certificates:details' cert.courseid %}"><button class = "Table_Button">Click</button></a></td> <!-- New Added -->
                        </tr>

                  {% endfor %}

                  </tbody>
            </table>

      {% endif %}

</div>

{% endblock %}